<section id="main">

  <div class="container">

    <div class="card">
      <h2 class="card-header">December 1, 2020</h2>
      <div class="card-body">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Gatineau_-_QC_-_Museum_of_Civilisation3.jpg/1024px-Gatineau_-_QC_-_Museum_of_Civilisation3.jpg" class="ac-card-image" alt="Canadian Museum of History">
        <h3 class="card-title">Canadian Museum of History</h3>
        <p class="card-text">The Canadian Museum of History is Canada's national museum of human history. It is located in the Hull area of Gatineau, Quebec, directly across the Ottawa River from Parliament Hill in Ottawa, Ontario.</p>
        <a href="https://www.historymuseum.ca/" class="btn btn-primary" target="_blank">Visit</a>
      </div>
    </div>

  </div>

</section>
